/*Fuentes*/
@font-face {
    font-family:FontBelganAesthetic;
    src: url(./FontBelganAesthetic.ttf);
}

@font-face {
    font-family: FontWhiteAngelica;
    src: url(./FontWhiteAngelica.ttf);
}

@font-face {
    font-family: FontSkeina;
    src: url(./Skeina.otf);
}

/*Sitio web diseñado de móvil a escritorio con una medida inicial de 480px*/
/*Estilos para el body*/
body{
    background-color:#000020;
}

/*Estilos para header - monograma*/
.top{
    display: flex;
    justify-content: center;
}

.monograma{
    width: 300px;
}

/*Estilos para el main*/

.banner {
    width: 100%;
}

/*Contenedor 1: frases y título*/
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container1 p{
    font-family: FontSkeina;
    text-transform:uppercase;
    color: #8C0048;
    font-size: 18px;
}

.container1 img{
    width: 450px;
}

/*Contenedor 2: familias*/
.containerFamilias h2{
    font-family: FontSkeina;
    text-transform:uppercase;
    color:#CCAF7D;
    font-size: 18px;
    text-align: center;
}

.names{
    font-family: FontSkeina;
    color:#CCAF7D;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tituloFam {
    border-bottom: 1px solid #CCAF7D;
    text-transform:uppercase;
    letter-spacing: 1.5px;
}

/*Contenedor 3: fecha y lugar*/
.date{
    color: #8C0048;
    text-align: center;
}

.date h3{
    font-family: FontWhiteAngelica;
    font-size: 32px;
}

.date p{
    font-family: FontSkeina;
    font-size: 22px;
}

/*Estilos para la cuenta regresiva*/
#micontador{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #micontador .num{
    display: flex;
    flex-direction:column;
    border-bottom: 1px solid #CCAF7D;
    margin: 0 8px;
 }
 #micontador .num .dig{
    overflow: hidden;
    padding: 10px;
 }
 #micontador .num .dig span{
    font-family: FontBelganAesthetic;
    color: #CCAF7D;
    font-size: 2.5rem;
    font-weight: 700px;
    position: relative;
 }
 #micontador .label{
    font-family:FontSkeina;
    color: #CCAF7D;
    text-align: center;
    border-top: 1px solid #CCAF7D;
 }

/*Carrusel de imágenes 1*/
.collage1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.juntos1, .ramo, .juntos2{
    width: 400px;
}

/*Estilos para el itinerario*/
.itinerario{
    margin: 15px;
}

.titleSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titleSection img{
    width: 340px;
}

.experienceSection{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.experienceList {
    border-left: 1px solid #CCAF7D;
    position: relative;
    list-style:none;
}

.experienceItemList {
    padding-left: 0px;
    padding-bottom: 40px;
}

.decorativeCircleList {
    height: 20px;
    width: 20px;
    background-color: #CCAF7D;
    border-radius: 80%;
    position: absolute;
    left: -10px;
    margin-top: 10px;
}

.imgItinerario{
    width: 80px;
    margin: 20px;
}

.itinerario h5{
    font-family: FontWhiteAngelica;
    color: #8C0048;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.itinerario p{
    font-family: FontSkeina;
    color: #CCAF7D;
    font-size: 20px;
}

.buttonSlide{
  background-color: #000020;
  border: 2px solid #8C0048;
  border-radius: 0px;
  padding: 16px 32px;
  display: inline-block;
  font-family: FontSkeina;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0#8C0048;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.buttonSlide a{
    color: #CCAF7D;
    text-decoration: none;
}

.buttonSlide:hover {
    box-shadow: inset 0 0 0 50px #8C0048;
    text-decoration: none;
}

/*Estilos para el drees code*/
.codigoVestimenta{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.codigoVestimenta img{
    width: 80px;
}

.codigoVestimenta h6{
    font-family:FontWhiteAngelica;
    color: #8C0048;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.codigoVestimenta p{
    font-family: FontSkeina;
    color: #CCAF7D;
    font-size: 20px;
}

/*Carrusel de imágenes 2*/
.carrusel2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}

.juntos3, .juntos4, .juntos5{
    width: 400px;
}

/*Estilos para la mesa de regalos*/

.links{
    font-family: FontSkeina;
    color:#CCAF7D;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 300px;
    border: 1px solid;
    border-color: #8C0048;
    padding: 20px;
    margin-bottom: 40px;
}

.links img{
    width: 250px;
}

.links img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/*Estilos para el formulario de confirmación*/
form{
    display: flex;
    flex-direction: column;
    width: 360px;
}

.confirmationForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmationForm p{
    font-family: FontSkeina;
    text-transform:uppercase;
    letter-spacing: 1.5px;
    color:#CCAF7D;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.confirmationForm input, .confirmationForm select, .confirmationForm textarea{
    padding: 10px;
    background: none;
    border: 0;
    font-family:FontBelganAesthetic;
    transition: all .3s;
    border:2px solid #8C0048;
    color: #CCAF7D;
    font-size: 15px;
    margin-top: 10px;
}

.confirmationForm input::placeholder{
    color: #CCAF7D;
}

.confirmationForm textarea::placeholder{
    color: #CCAF7D;
}

#btnEnviar{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #CCAF7D;
}

/*Carrusel de imágenes 3*/
.final {
    width: 100%;
}

/*Estilos para el footer*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer img{
    width: 300px;
}

.footer p{
    color: white;
}

/*Media queries*/
@media (min-width: 768px) {
    .container1 img{
        width: 800px;
    }

    .collage1, .carrusel2{
        flex-direction: row;
        justify-content: space-around;
    }

    .container1 p, .containerFamilias h2, .containerFamilias p, .itinerario p, .codigoVestimenta p, .confirmationForm p{
        font-size: 22px;
    }

    .juntos1, .ramo, .juntos2, .juntos3, .juntos4, .juntos5{
        width: 300px;
    }

    .names, .links{
        flex-direction: row;
        justify-content: space-around;
    }

    .card{
        margin: 20px;
    }

    .card p{
        font-size: 22px;
    }

    form{
        width: 500px;
        margin-bottom: 20px;
    }
}

 
@media (min-width: 992px){
    .monograma{
        width: 500px;
    }

    .container1 p, .containerFamilias h2, .containerFamilias p, .itinerario p, .codigoVestimenta p, .links, .confirmationForm p{
        font-size: 30px;
    }

    .container1 img{
        width: 1000px;
    }

    .date h3{
        font-size: 50px;
    }

    .date p{
        font-size: 40px;
    }

    #micontador .num .dig span{
        font-size: 4rem;
        font-weight: 800px;
    }

    .juntos1, .ramo, .juntos2, .juntos3, .juntos4, .juntos5{
        width: 500px;
    }

    .titleSection img{
        width: 500px;
    }

    .experienceItemList {
        padding-left: 20px;
        padding-bottom: 40px;
    }

    .itinerario h5, .codigoVestimenta h6{
        font-size: 40px;
    }

    .buttonSlide{
        padding: 18px 36px;
    }

    .codigoVestimenta{
        margin: 100px;
    }

    .links img{
        width: 300px;
    }

    .card{
        width: 500px;
        margin-bottom: 100px;
    }

    form{
        width: 700px;
    }

    .confirmationForm input, .confirmationForm select, .confirmationForm textarea{
        font-size: 22px;
    }

    .footer img{
        width: 500px;
    }
}
